.App {
  text-align: center;
}

.navbar {
  width: 100%;
  height: 100px;
  background: #483D8B;
}

.navbar-container {
  width: 90%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.footer button {
  color: white;
  background: #483D8B;
  outline: none;
  border: none;
  width: 120px;
  height: 40px;
  text-transform: capitalize;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}

.navbar-container p {
  color: white;
  font-size: 30px;
}

.footer {
  width: 80%;
  margin: auto;
  margin-bottom: 200px;
  font-weight: 700;
}
.footer hr {
  width: 100%;
  height: 1px;
  color: black;
}

.footer-total {
  font-size: 20px;
  color: black;
  font-weight: 700;
}

.total {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cart-container {
  width: 80%;
  margin: 50px auto;
}

.cart {
  width: 100%;
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.cart-info {
  width: 300px;
  display: flex;
  text-align: left;
  align-items: center;
}

img {
  width: 100px;
  height: 100px;
}

.cart-amount {
  display: flex;
  flex-direction: column
}

.basket {
  position: relative;
  width: 50px;
  height: 50px;
}

.count span {
  margin-bottom: 2px;
  margin-left: 2px;
}

.count {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-radius: 50%;
  background: blue;
  color: white;
  right: 10px
}

.title {
  color: black;
  font-weight: bold;
}

.remove {
  color: #483D8B;
  cursor: pointer;
  font-weight: 600;
}

